@media screen and (min-width: 768px) {
    .menu-title {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .content {
        gap: 2.5rem;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .modal-item {
        min-width: 600px;
    }
}

@media (max-width: 768px) {
    .navbar ul {
        display: flex;
        text-align: center;
        flex-direction: column;
    }

    .navbar ul li {
        margin: 2px 0;
    }

    .navbar ul li a {
        font-size: 1rem;
        /* Fonte menor */
    }

    .img-header {
        margin-top: 7rem;
    }
}